* {
    box-sizing: border-box;
  }
  
body {
    border-radius: 10px;

    background-color: #3E94EC;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #666A85;
    width: 100%;
}

table {
    border-radius: 10px;
    width: 400px;
    border-spacing: 0px;
    margin: auto;
    border: 0px solid #C1C3D1;

}

th, td {
    padding: 10px;
    border: 1px solid #C1C3D1;
}


tr:first-child {
    border-radius: 10px;
    color: gray;
    text-align: left;
    background-color: #1B1E24;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}


tr:nth-child(2n) {
    background-color: #EBEBEB;
}

tr:nth-child(2n+3) {
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.th_dollars::before { content:"$ "; }
.th_dollars::after { content:",000.00"; }
