* {
    box-sizing: border-box;
  }
body {
    background-color: cadetblue;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
h1 {
    line-height: 200%;
}  
h1 {
    line-height: 50%;
}

.box_input {
    display: block;
}