<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Fox</title>
    <link rel="icon" type="image/png"
          href='greenfox.png'>

</head>
<body>
<ul>
    <li><a th:href="'/?name=' + ${myFox.name}">Information</a></li>
    <li><a th:href="'/nutritionStore?name=' + ${myFox.name}">Nutrition Store</a></li>
    <li><a th:href="'/trickCenter?name=' + ${myFox.name}">Trick Center</a></li>
    <li><a th:href="'/actionHistory?name=' + ${myFox.name}">Action History</a></li>
</ul>
<p><img src='greenfox.png' alt="greenfox logo"/></p>
<p th:text="${message}"></p>
<p th:text="${myFox}"></p>

<h1>Known tricks</h1>
<p th:text="${myFox.learntTricks().isEmpty()} ? 'You know no tricks yet. Go and learn some.' "></p>
<ul th:each="trick : ${myFox.learntTricks()}">
    <li th:text="${trick}"></li>
</ul>

<br>

<h1>Recent events</h1>
<p th:text="${timeStamps.isEmpty()} ? 'Nothing happened yet.' "></p>

<ul th:each="timeStamp : ${timeStamps}">
    <li th:text="${timeStamp}"></a></li>
</ul>
<br>

<footer><a href="/login">Login with/add another fox</a></footer>
</body>
</html>