<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutrition</title>
    <link rel="icon" type="image/png"
          href='greenfox.png'>

</head>
<body th:object="${myFox}">
<ul>
    <li><a th:href="'/?name=' + *{name}">Information</a></li>
    <li><a th:href="'/nutritionStore?name=' + *{name}">Nutrition Store</a></li>
    <li><a th:href="'/trickCenter?name=' + *{name}">Trick Center</a></li>
    <li><a th:href="'/actionHistory?name=' + *{name}">Action History</a></li>
</ul>
<form action="#" th:action="@{/nutritionStore}" id="nutrition" method="post">
    <div class='form-row'>
        <label for='food'>Food</label>
        <select id='food' name="food" form="nutrition">
            <option th:each="food: ${availableFood}" th:value="${food}" th:text="${food}"></option>
        </select>
        <label for='drink'>Drink</label>
        <select id='drink' name="drink" form="nutrition">
            <option th:each="drink: ${availableDrinks}" th:value="${drink}" th:text="${drink}"></option>
        </select>

        <input type="hidden" name="name" th:value="*{name}">
        <button>Go</button>
    </div>
</form>

<footer><a href="/login">Login with/add another fox</a></footer>
</body>
</html>