<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars database</title>
    <link rel="icon" type="image/png" href='greencar.png'>

</head>
<body>
<h2 th:if="${cars == null}">Sorry, the submitted licence plate is not valid</h2>
<form action="/search" method="get">
    <label for="searchterm">Enter licence plate: </label><br>
    <input
            type="text"
            id="searchterm"
            name="searchterm"
    />
    <button type="submit">Search</button>
</form>
<a th:href="'/search?searchterm=RB'">Police cars only</a>
<a th:href="'/search?searchterm=DT'">Diplomats only</a>


<table th:if="${cars != null}">
    <thead>
    <tr>
        <th>Licence plate</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}" th:object="${car}">
        <td th:text="*{plate}"></td>
        <td><a th:href="'/search/' +*{carBrand}" th:text="*{carBrand}"></a></td>
        <td th:text="*{carModel}"></td>
        <td th:text="*{color}"></td>
        <td th:text="*{year}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>