<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h1 th:text="'Edit todo (id: ' + ${todo.id} + ', created: ' + ${todo.date} + ')'"></h1>
<form
        action="#"
        th:action="@{'/todo/' + ${todo.id} + '/edit'}"
        th:object="${todo}"
        th:method="post">
    <label for="title">Edit todo title:</label><br>
    <input
            type="text"
            id="title"
            th:field="*{title}"
            required
    /><br>
    <label for='assignee'>Assign owner to todo:</label>
    <select id="assignee" name="assigneeId">
        <option th:each="assignee : ${assignees}"
                th:selected="${assignee.getName()}"
                th:value="${assignee.getId()}"
                th:text="${assignee.getName()}"></option>
    </select><br>
    <label for="deadline">Edit todo deadline:</label>
    <input
            type="date"
            id="deadline"
            th:value="*{dueDate}"
            name="deadline"
            th:text="${#temporals.format(todo.dueDate, 'MM-yyyy')}"/><br>
    <input
            type="hidden"
            id="createdOn"
            th:value="*{dueDate}"
            name="deadline"
            th:text="${#temporals.format(todo.dueDate, 'MM-yyyy')}"/><br>
    <label for="isUrgent">Urgent:</label>
    <input
            type="checkbox"
            name="isUrgent"
            th:value="true"
            th:checked="*{isUrgent}"
            id="isUrgent"
    /><br>
    <label for="isDone">Done:</label>
    <input
            type="checkbox"
            name="isDone"
            th:value="true"
            th:checked="*{isDone}"
            id="isDone"
    /><br>
    <div>
        <button type="submit">
            Update
        </button>
    </div>

</form>
</body>
</html>