<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignees</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h1>Assignees for todos</h1>
<form action="#" th:action="@{/assignees/list}" method="get">
    <label for="search-text">Select assignee by name:</label><br>
    <input
            type="text"
            id="search-text"
            th:name="text"
    />
    <button type="submit">filter</button>
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="assignee : ${assignees}" th:object="${assignee}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{email}"></td>
        <td>
            <form action="#" th:action="@{'/assignees/' + ${assignee.id} + '/edit'}" method="get">
                <button type="submit">edit</button>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{'/assignees/' + ${assignee.id} + '/delete'}" method="post">
                <button type="submit">delete</button>
            </form>

        </td>
    </tr>
    </tbody>
</table>

<div><a href="/assignees/add">
    <input type="button" name="add" value="add new assignee"/>
</a></div>

<a href=/todo>back to Todos</a>

</body>
</html>