<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h1>Todos for today</h1>


<form action="#" th:action="@{/todo/list}" method="get">
    <label for="search-active">Filter todo completion:</label><br>
    <input
            type="text"
            id="search-active"
            name="active"
    />
    <label for="search-urgent">Filter todo urgency:</label><br>
    <input
            type="text"
            id="search-urgent"
            name="urgent"
    />
    <label for="search-text">Filter todo title:</label><br>
    <input
            type="text"
            id="search-text"
            name="text"
    />
    <label for="search-create-date">Filter todo createDate:</label><br>
    <input
            type="date"
            id="search-create-date"
            name="create-date"
    />
    <label for="search-due-date">Filter todo dueDate:</label><br>
    <input
            type="date"
            id="search-due-date"
            name="due-date"
            th:value="${todo.date}"
    />
    <label for="search-assignee">Filter todo assignee:</label><br>
    <input
            type="text"
            id="search-assignee"
            name="assigneeId"
            th:value="${todo.date}"

    />
    <button type="submit">filter</button>
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>CREATED ON</th>
        <th>ACTION</th>
        <th>ASSIGNEE</th>
        <th>DEADLINE</th>
        <th>URGENT</th>
        <th>DONE</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${todos}" th:object="${todo}">
        <td th:text="*{id}"></td>
        <td th:text="*{date}"></td>
        <td th:text="*{title}"></td>
        <td>
            <span th:if="*{assignee == null} ">N/A</span>
            <a th:unless="*{assignee == null}" th:text="*{assignee.getName()}"
               th:href="'/todo/' + *{assignee.getId()} + '/list-todos'"></a>
        </td>
        <td th:text="*{dueDate}"></td>
        <td th:text="*{isUrgent}"></td>
        <td th:text="*{isDone}"></td>
        <td>
            <form action="#" th:action="@{'/todo/' + ${todo.id} + '/edit'}" method="get">
                <button type="submit">edit</button>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{'/todo/' + ${todo.id} + '/delete'}" method="post">
                <button type="submit">delete</button>
            </form>

        </td>
    </tr>
    </tbody>
</table>

<div>
    <a href="/todo/add">
        <input type="button" name="add" value="add new todo"/>
    </a>
</div>

<a href=/assignees/list>List of assignees</a>

</body>
</html>