<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h1>Welcome to Little Reddit!</h1>
<p>Please introduce yourself!</p>
<form action="#" th:action="@{/login}" th:object="${newUser}" method="post">
    <label for="name">My name is </label><br>
    <input
            type="text"
            id="name"
            th:field="*{userName}"
            required
    />
    <button type="submit">send</button>

</form>

</body>
</html>