.td_balance {
    text-align: right;
    color: blue;
}

body {
    text-align: right;
    color: green;
}
thead {

}

table, th, td {
    border: 1px solid black;
}

tbody tr:nth-child(even) {
    background-color: beige;

}

