* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.illustration img {
    width: 80%;
    display: inline;
}

.btTxt {
    width: 8%;
    display: block;

}

.td_balance {
    text-align: right;
}

.td_name {
    text-align: left;
}

.td_name, .td_balance {
    color: slategray;

}

.crown {
    color: goldenrod;
    text-align: center;
    width: auto;
}

.king {
    font-weight: bolder;
}

body {
    color: green;
    background-color: #FBF5E9;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

}

thead {
    background-color: darkslategray;
}
a {
    display: inline-block;
}
button {
    border: 0;
    font-size: 24px;
    color: slategray;
    width: 100%;
    display: inline;
}

thead, th.td_name, th.td_balance {
    color: beige;
}

table {
    border: 1px darkslategray;
    position: center;
    width:auto;
    margin-left:10%;
    margin-right:10%;
    display: inline;
}

table, th, td {
    border-collapse: collapse;
    padding: 8px;
    width: auto;
}

tbody tr:nth-child(even) {
    background-color: rgb(235, 235, 210);
}
