<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bank of Simba</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="https://freepngimg.com/save/82620-king-lion-simba-cartoon-mammal-free-hd-image/200x200">
</head>
<body>
    <div th:utext="${bankaccount.name}">
    </div>
    <div th:utext="${#numbers.formatDecimal(bankaccount.balance,3,'DEFAULT', 2, 'DEFAULT')} + ' Zebra'">
    </div>
    <div th:utext="${bankaccount.animalType}">
    </div>
</body>
</html>