nav {
    background-color: #333333;
    margin: 0;
}

body {
    background-image: url("topography.png"); 
       
}

a  {color: #ff0099;}
h2 {color: #ff0099;}  

em::after {
    content: "---";
    display: block;
    text-align: center;
    letter-spacing: 20px;
  }

