<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<a href="/login">Login</a><br>
<a href="/add">Submit new post</a>
<h2 th:unless="${user == null}" >Welcome, <span th:text="${user.userName} +'!'"></span></h2>
<h1>Trending posts</h1>
<table>

<tr th:each="post:${posts}" th:object="${post}">
    <td th:text="*{score}"></td>
<!--    <td>
        <form action="#" th:action="@{/rate}" method="post">
            <input type="hidden" name="postId" th:value="*{id}" />
            <button type="submit">+</button>
        </form>
    </td>
    <td>
        <form action="#" th:action="@{/rate}" method="post">
            <input type="hidden" name="name" th:value="*{name}"/>
            <button type="submit">-</button>
        </form>
    </td>-->
    <td><a th:href="*{link}" th:text="*{title}"></a></td>
</tr>
</table>

</body>
</html>